<div style="text-align:center">

  <br><br>
  <h1>Angular Calculator</h1>
  <hr>
  
  First Number:<br><br>
  <input type ="number" name="num1" [(ngModel)]="num1"> <br><br>
  Second Number:<br><br>
  <input type ="number" name="num2" [(ngModel)]="num2">
  <br><br>

  <button (click)="add()" type="button" class="btn btn-primary">+</button>&nbsp;
  <button (click)="sub()" type="button" class="btn btn-success">-</button>&nbsp;
  <button (click)="multiply()" type="button" class="btn btn-danger">*</button>&nbsp;
  <button (click)="divide()" type="button" class="btn btn-warning">/</button>
  <br><br>
  
  Results:<br><br>
  <input type ="number" name="num1" [(ngModel)]="num3">
  <br><br>
  


</div>